:root {
    --branco-principal: #FFFFFF;
    --cinza-segundario: #c0c0c0;
    --botão-azul: #167BF7;
    --cor-de-fundo: #00030c
    --fonte-principal: 'inter';
}

body {
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family:var(--fonte-principal);
    font-size:16px;
    font-weight: 400;
}

*{
    margin:0;
    padding:0;
}

.principal{
     background-image: url("img\Background.png");
     background-repeat: no-repeat;
     background-size: contain;
}

.containe {
    heigth: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.contatainer_botão{
    heckgroud-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal)
    display:block;
    text-decoration:nome;
}



.container__botão{
    background-color: var (botao-azul);
    border-radius 5px;
padding:1em;